<div class="row"> 
  <div class="col-sm-1"></div>
  <div class="col-sm-2">
    <img src="../assets/FILMANIA.png" alt="" height="120px" width="165px">
  </div>
  <div class="col-sm-6">  
    <!-- style="background-color:#FFDF00" -->
    <div class="text-center">
      <h1>
        <font face="raleway" color="#007acc">
           {{title}} 
           <br>
        </font>
      </h1>
      <h4>
        <font face="raleway" color="#29293d">
         For Every 10 votes you cast we donate a book to Orphanage!
        </font>
      </h4>
      </div>
  </div>
  <div class="col-sm-2">
    <img src="../assets/Sintillashunz20.png" alt="" height="100px" width="135px">
  </div>
  <div class="col-sm-1"></div>
</div>
<app-vote-chart></app-vote-chart>