/* You can add global styles to this file, and also import other style files */
/* body {
    background: image('https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  } */